[Unit]
Description={{ container_name }} Container Service

[Service]
Restart=on-failure
RestartSec=30

ExecStartPre=/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStart=/usr/bin/podman run --conmon-pidfile /%t/%n-pid --cidfile /%t/%n-cid -d -v /var/lib/hodgins/{{ container_name }}/data:/config:z -p {{ container_port }}:80 --name service_{{ container_name }} {{ image_name }}
ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /%t/%n-cid`"

KillMode=none
Type=forking
PIDFile=/%t/%n-pid

[Install]
WantedBy=multi-user.target
